.container {
  border-radius: 10px;
  margin-bottom: 1rem;

  @media (max-width: 767px) {
    min-width: 300px;
    width: 70vw;
  }
}

.title {
  cursor: pointer;
  border: none;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.title--big {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  width: auto;
  font-size: 3.5rem;
  color: #041484;
  text-transform: capitalize;

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}

.title--small {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  display: none;
}

.open {
  display: block;
}

.close {
  display: none;
}
